<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>334472337524-21alfndotopokun5ad5uifjrj6ma4o8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334472337524-21alfndotopokun5ad5uifjrj6ma4o8a</string>
	<key>API_KEY</key>
	<string>AIzaSyC2JqRnlQ3CJh2fLucDHrQTWobNSDi7XPU</string>
	<key>GCM_SENDER_ID</key>
	<string>334472337524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.franziskaneum.Franziskaneum</string>
	<key>PROJECT_ID</key>
	<string>franziskaneum-e27bf</string>
	<key>STORAGE_BUCKET</key>
	<string>franziskaneum-e27bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:334472337524:ios:54ad23fba645dcf2</string>
	<key>DATABASE_URL</key>
	<string>https://franziskaneum-e27bf.firebaseio.com</string>
</dict>
</plist>
